<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presentation" >
        <%= link_to '首頁', root_path %>
      </li>
      <li role="presentation">
        <%= link_to '最新動態' %>
      </li>
      <li role="presentation">
        <%= link_to 'TOP10人氣餐廳', ranking_restaurants_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to '美食達人', users_path %>
      </li>
    </ul>

  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="page-header">
        <h1>美食達人</h1>
      </div>
    </div>

    <% @users.each do |user| %>
      <div class="col-md-3 col-sm-4 col-xs-6">

        <%= link_to user_path(user) do %>
          <% if user.avatar.url %>
            <%= image_tag user.avatar.url, height: 200, width:200, class: "img-responsive img-rounded" %>
          <% else %>
            <img src=" http://via.placeholder.com/280x280 " class="img-responsive img-rounded">
          <% end %>
        <% end %>
        <div class = "text-center user-item">
          <h4><%= user.name %></h4>
          <%= render partial: "shared/follow", locals: {user: user} %>
          <%= render partial: "shared/friend", locals: {user: user} %>
        </div>

      </div>
    <% end %>

  </div>
</div>